<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attribut classification</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="attribute">
        <h1>Attribute label Prediction</h1>
    
    <form name="upload" id="file_upload" method="post" action="/predict" enctype="multipart/form-data" accept-charset="utf-8">
        <label for="file-input">Upload the image</label>
        <input type="file"  value="Browse for your pic!" name="fileup" id="file-input" class="visuallyhidden">
        <div>
        <br>
   <br>
        <input type="submit" value="Attribute classify"></div>
    </form>

    <br>
   <br>
  
   
    </div>
      <h1> {{predicted_result}}</h1>
</body>
</html>